<center>
<img src="icon_128.png">
<form>

<TMPL_LOOP NAME="HOSTS">
<h2>Device <TMPL_VAR host>: <span id="host<TMPL_VAR host>-heading"><TMPL_VAR name></span></h2>
<input type="hidden" id="host<TMPL_VAR host>" value="<TMPL_VAR host>" class="hostnumber">

<table style="border:1px solid lightgrey; padding:10px; width=95%">
	<tr>
		<th>Gateway</th>
		<th>Short Name</th>
		<th>Hostname or IP</th>
		<th>Port to the device</th>
		<th>Connect on demand</th>
	</tr>
	<tr>
		<td>
			<label>
			<input type="checkbox" id="host<TMPL_VAR host>-activated" disabled="disabled">Active
			<input type="hidden" id="host<TMPL_VAR host>-activated_str" value="<TMPL_VAR activated>">
			</label>
		</td>
		<td>
			<div class="ui-field-contain">     
			<input type="text" name="host<TMPL_VAR host>-name" id="host<TMPL_VAR host>-name" data-mini="true" value="<TMPL_VAR name>" placeholder="Name in logfiles - don't use blancs">
			</div>
		</td>
		<td>
			<div class="ui-field-contain">     
			<input type="text" name="host<TMPL_VAR host>-hostname" id="host<TMPL_VAR host>-hostname" data-mini="true" value="<TMPL_VAR hostname>" placeholder="">
			</div>
		</td>
		<td>
			<div class="ui-field-contain">     
			<input type="text" name="host<TMPL_VAR host>-hostport" id="host<TMPL_VAR host>-hostport" data-mini="true" value="<TMPL_VAR hostport>" placeholder="">
			</div>
		</td>
		<td>
			<label>
			<input type="checkbox" id="host<TMPL_VAR host>-hostondemand" disabled="disabled">On demand
			<input type="hidden" id="host<TMPL_VAR host>-hostondemand_str" value="<TMPL_VAR hostondemand>">
			</label>
		</td>
	</tr>
	<tr>
		<th>Plugin In-Port for this device</th>
		<th colspan="2">Miniserver to answer</th>
		<th>UDP port for MS</th>
		<th>Prefix answer with device name</th>
	</tr>
	<tr>
		<td>
			<div class="ui-field-contain">     
			<input type="text" name="host<TMPL_VAR host>-lbinport" id="host<TMPL_VAR host>-lbinport" data-mini="true" value="<TMPL_VAR lbinport>" placeholder="">
			</div>
		</td>
		<td colspan="2"><TMPL_VAR miniserverhtml>
		</td>
		<td>
			<div class="ui-field-contain">     
			<input type="text" name="host<TMPL_VAR host>-returnport" id="host<TMPL_VAR host>-returnport" data-mini="true" value="<TMPL_VAR returnport>" placeholder="">
			</div>
		</td>
		<td>
			<label>
			<input type="checkbox" id="host<TMPL_VAR host>-returnprefix" disabled="disabled">Answers prefixed
			<input type="hidden" id="host<TMPL_VAR host>-returnprefix_str" value="<TMPL_VAR returnprefix>">		
			</label>
		</td>
	
	
	</tr>
	<tr>
		<th colspan="3">On connect, initialize external device with this command</th>
		<th>Keep-alive command</th>
		<th>Send keep-alive every x secs<th>
	</tr>
	<tr>
		<td colspan="3">
			<div class="ui-field-contain">     
			<input type="text" name="host<TMPL_VAR host>-hostinitialcommand" id="host<TMPL_VAR host>-hostinitialcommand" data-mini="true" value="<TMPL_VAR hostinitialcommand>" placeholder="Leave this empty if unsure">
			</div>
		</td>
		<td>
			<input type="text" name="host<TMPL_VAR host>-hostkeepalivecommand" id="host<TMPL_VAR host>-hostkeepalivecommand" data-mini="true" value="<TMPL_VAR hostkeepalivecommand>" placeholder="Leave this empty if unsure">
		</td>
		<td>
			<input type="number" name="host<TMPL_VAR host>-hostkeepalivetime" id="host<TMPL_VAR host>-hostkeepalivetime" data-mini="true" value="<TMPL_VAR hostkeepalivetime>" placeholder="time in seconds">
		</td>
		
		
		
		
	</tr>
	<tr>
		<td colspan="5">
			<center>
			<button class="ui-btn ui-btn-inline" id="buttonhost<TMPL_VAR host>-restart" onclick="restart_service('<TMPL_VAR host>'); return false;">Restart</button>
			<button class="ui-btn ui-btn-inline" id="buttonhost<TMPL_VAR host>-delete" onclick="delete_block('<TMPL_VAR host>'); return false;">Delete device</button>
			<TMPL_VAR logfilebutton>
			</center>

		</td>
	</tr>	
</table>

<script>
$
(function() {
	$("#host<TMPL_VAR host>-activated").attr("checked",<TMPL_VAR activated>).checkboxradio('enable').checkboxradio("refresh");
	$("#host<TMPL_VAR host>-returnprefix").attr("checked",<TMPL_VAR returnprefix>).checkboxradio('enable').checkboxradio("refresh");
	$("#host<TMPL_VAR host>-hostondemand").attr("checked",<TMPL_VAR hostondemand>).checkboxradio('enable').checkboxradio("refresh");
	
	$("#host<TMPL_VAR host>-name").blur(function(){ $('#host<TMPL_VAR host>-heading').text($("#host<TMPL_VAR host>-name").val());});
	
});


</script>

</TMPL_LOOP>

<button class="ui-btn ui-btn-inline" id="buttonadd" onclick="add_block(); return false;">Add device</button>
			

</form>

</center>


<script>
var vars = {};
var url = "ajax.cgi";
	
$(document).on('pageinit', function() {

	<!-- query_status(); -->
	
	$( ":input" ).blur(function(e){change_value("change", e.target.id, $(this).val())});
	$( "input[type='checkbox']" ).change(function(e){change_value("change", e.target.id, $(this).prop("checked"))});

	$( ":input" ).focusin(function(e){ 
		vars['old' + $(this).attr("id")] = $(this).val();
		var respid = $(this).attr("id")+"resp";
		// $("#"+respid).text("");
		// $("#"+respid).css("color", "");
		
	});

});


function change_value (action, key, value)
{
	console.log("Action is", action, "Key is", key, "Value is", value);
	if (vars['old' + key] === value) {
		console.log("Nothing changed.");
		return;
	}

	var posting = $.post( url, { 	action: action,
					key: key,
					value: value,
				 });
	posting.done(function(data){
				console.log("OK");
				// $("#" + data.key + "resp").css("color", "green");
				//$("#" + data.key + "resp").text("Successfully saved");
			 });
	posting.error(function(data){
				console.log("Error");
				//$("#" + data.key + "resp").css("color", "red");
				//$("#" + data.key + "resp").text("Error writing");
			 });

}

function delete_block(key)
{
$.post( url, { action: "delete_block", key: key})
	.done(function(data){
		console.log("Response", data);
		location.reload();
	})
	.error(function(data){
		console.log("Error");
		location.reload();
	});
}

function add_block()
{
$.post( url, { action: "add_block" })
	.done(function(data){
		console.log("Response", data);
		location.reload();
	})
	.error(function(data){
		console.log("Error");
		location.reload();
	});
}

function restart_service(key)
{
$.post( url, { action: "service", key: key, value: 'restart' })
	.done(function(data){
		console.log("Response", data);
		location.reload();
	})
	.error(function(data){
		console.log("Error");
		location.reload();
	});
}




</script>
